* {
  box-sizing: border-box;
}

:root {
  --cell-grid-size: 60px;
}

.sea-battle-grid {
  display: grid;
  grid-template-columns: repeat(11, var(--cell-grid-size));
  grid-template-rows: repeat(11, var(--cell-grid-size));
  width: calc(var(--cell-grid-size) * 11 + 1px);
  height: calc(var(--cell-grid-size) * 11 + 1px);
  margin: 25px;
  background: repeating-linear-gradient(
      0deg,
      black 0px,
      black 2px,
      transparent 2px,
      transparent var(--cell-grid-size)
    ),
    repeating-linear-gradient(
      90deg,
      black 0px,
      black 2px,
      transparent 2px,
      transparent var(--cell-grid-size)
    );
}

.sea-battle-grid div:first-child {
  background-color: black;
  width: 100%;
  height: 100%;
}

.sea-battle-grid:hover {
  background: none;
  .board-cell {
    display: none;
  }
  .board-play-frame {
    outline: 2px solid black;
    grid-area: 2/2/12/12;
  }
}

.board-cell {
  margin: auto;
  font-size: calc(var(--cell-grid-size) / 2);
  font-family: sans-serif;
  font-weight: bold;
}

.board-cell.num {
  grid-column-start: 1;
}

.ship {
  outline: 2px solid black;
  margin: 5px;
}

.six-deck {
  background-color: #ff0000;
}

.four-deck {
  background-color: #0000ff;
}

.three-decker {
  background-color: #00ff00;
}

.double-decker {
  background-color: #800080;
}

.dds-1 {
  grid-area: 2/2/2/4;
}
.dds-2 {
  grid-area: 4/11/6/11;
}
.dds-3 {
  grid-area: 7/7/9/7;
}
.dds-4 {
  grid-area: 9/2/9/4;
}
.tds-1 {
  grid-area: 2/5/5/5;
}
.tds-2 {
  grid-area: 4/7/4/10;
}
.tds-3 {
  grid-area: 7/11/10/11;
}
.fds-1 {
  grid-area: 2/8/2/12;
}
.fds-2 {
  grid-area: 4/2/8/2;
}
.sds-1 {
  grid-area: 11/6/11/12;
}
